/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 18, 2017, 5:48:35 PM
    Author     : rubel_000
*/

@import url('test.css');

.flex-container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		/*align-items: stretch;*/
		align-content: space-around;
		min-height: 600px;
		
	    }
	    
	    .flex-item {
		padding: 30px;
		background: #f0f0f0;
		border: 1px solid #000;
		
	    }
	    
	    .flex-item:nth-of-type(1) {
		order: 3;
	    }
	    .flex-item:nth-of-type(2) {
		order: 4;
	    }
	    
	    .flex-item:nth-of-type(3) {
		flex-grow: 2;
		align-self: flex-end;
		order: 1;
	    }
	    .flex-item:nth-of-type(4) {
		order: 2;
	    }
	    
	    
	    
	    @media (max-width:800px ) {
		
		body {
		    background: green;
		}
		
	    }
	    
	     @media (max-width:1000px ) {
		
		body {
		    background: red;
		}
		
	    }